<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Alterar Usuário</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="formAlterar">
		<ion-item class="ion-text-center ion-button-light">
			<ion-label>NOVO USUÁRIO</ion-label>
		</ion-item>

		<ion-item-divider color="tertiary">
			<ion-label>Digite seus dados </ion-label>
		</ion-item-divider>
		<ion-item lines="none">
			<ion-label position="stacked">Nome</ion-label>
			<ion-input placeholder="Digite seu nome" type="text" formControlName="nome"></ion-input>
			<ng-container *ngFor="let erro of validacao.nome">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('nome').hasError(erro.tipo) && (formRegister.get('nome').dirty || formRegister.get('nome').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>

		<ion-item lines="none">
			<ion-label position="stacked">CPF</ion-label>
			<ion-input [brmasker]="{person:true}" maxLength="14" placeholder="Digite seu CPF" type="text"
				formControlName="cpf"></ion-input>
			<ng-container *ngFor="let erro of validacao.cpf">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('cpf').hasError(erro.tipo) && (formRegister.get('cpf').dirty || formRegister.get('cpf').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>


		<ion-item lines="none">
			<ion-label position="stacked">Data de Nascimento</ion-label>
			<ion-datetime displayFormat="DD/MM/YY" cancelText="Cancelar" doneText="OK" placeholder="Selecione"
				formControlName="dataNascimento">
			</ion-datetime>
			<ng-container *ngFor="let erro of validacao.dataNascimento">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('dataNascimento').hasError(erro.tipo) && (formRegister.get('dataNascimento').dirty || formRegister.get('dataNascimento').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>

		<ion-item lines="none">
			<ion-label position="stacked">Gênero</ion-label>
			<ion-select placeholder="Selecione" cancelText="Cancelar" formControlName="genero">
				<ion-select-option value="f">Feminino</ion-select-option>
				<ion-select-option value="m">Masculino</ion-select-option>
				<ion-select-option value="o">Outro</ion-select-option>
			</ion-select>
			<ng-container *ngFor="let erro of validacao.genero">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('genero').hasError(erro.tipo) && (formRegister.get('genero').dirty || formRegister.get('genero').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>

		<ion-item lines="none">
			<ion-label position="stacked">Celular</ion-label>
			<ion-input [brmasker]="{phone:true}" placeholder="Digite seu número de celular" type="text"
				formControlName="celular"></ion-input>
			<ng-container *ngFor="let erro of validacao.celular">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('celular').hasError(erro.tipo) && (formRegister.get('celular').dirty || formRegister.get('celular').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>

		<ion-item lines="none">
			<ion-label position="stacked">E-mail</ion-label>
			<ion-input placeholder="Digite seu E-mail" type="email" formControlName="email"></ion-input>
			<ng-container *ngFor="let erro of validacao.email">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('email').hasError(erro.tipo) && (formRegister.get('email').dirty || formRegister.get('email').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>

		<ion-item lines="none">
			<ion-label position="stacked">Senha</ion-label>
			<ion-input placeholder="Escolha sua senha" type="password" formControlName="senha"></ion-input>
			<ng-container *ngFor="let erro of validacao.senha">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('senha').hasError(erro.tipo) && (formRegister.get('senha').dirty || formRegister.get('senha').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>

		<ion-item lines="none">
			<ion-label position="stacked">Confirme</ion-label>
			<ion-input placeholder="Confirme sua senha" type="password" formControlName="senha_confirm"></ion-input>
			<ng-container *ngFor="let erro of validacao.senha_confirm">
				<span class="mensagem-erro"
					*ngIf="formRegister.get('senha_confirm').hasError(erro.tipo) && (formRegister.get('senha_confirm').dirty || formRegister.get('senha_confirm').touched)">
					{{erro.msg}}
				</span>
			</ng-container>
		</ion-item>

		<ion-button expand="full" (click)="salvar()">
			SALVAR
		</ion-button>

		<ion-button routerLink="/configuracoes" expand="full" fill="clear">
			VOLTAR
		</ion-button>
	</form>
</ion-content>