<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
	    <ion-icon slot="icon-only" name="search"></ion-icon>
	  </ion-button>
    </ion-buttons>
    <ion-title>
      Tarefas
    </ion-title>
	<ion-buttons slot="end">
      <ion-button>
	    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
	  </ion-button>
	  <ion-button (click)="exibirAlertaLogout()">
	    <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
	  </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>Bem vindo a página HOME</h1>
</ion-content>